body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 17.5px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.page-body {
    margin: 0px 25vw;
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

@media only screen and (max-width: 800px) {
    .page-body {
        margin: 0px 10px;
    }
}

@media only screen and (max-width: 1000px) {
    .page-body {
        margin: 0px 5vw;
    }
}

footer {
    margin-top: 100px;
}

/* .unstyled-link {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
} */

a, a:visited {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

a:hover {
    color: #666666;
}

a:active {
    color: #a8a8a8;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.page-row {
    gap: 8px;
    margin-bottom: 10px;
}

.article-list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

@media only screen and (max-width: 800px) {
    .page-row {
        flex-direction: column-reverse;
        gap: 50px;
    }
}

/* ======================= */
/* Header & Footer styling */
/* ======================= */
header, footer {
    color: white;
    background-color: rgb(20, 20, 20);
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    margin-bottom: 32px;
    box-shadow: 5px 5px 15px #acacac;
}

header .row {
    gap: 10px;
}

header .row .column h1 {
    margin-top: 8px;
    margin-bottom: 10px;
}

footer {
    margin-top: 32px;
    box-shadow: -5px -5px 15px #acacac;
}

nav.navbar {
    overflow: auto;
}

nav.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

nav.navbar li {
    display: inline;
}

nav.navbar li a {
    padding: 5px 10px;
    margin: 2px 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: block;
    display: inline-block;
}

nav.navbar li a:link, nav.navbar li a:visited {
    border-radius: 5px;
    background-color: white;
    color: black;
}

nav.navbar ul li a:hover, nav.navbar ul li a:active {
    background-color: rgb(114, 114, 114);
}

.current {
    background-color: rgb(168, 168, 168) !important;
}

.card {
    padding: 16px;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    box-shadow: 5px 5px 15px #acacac;
}

.card h1, .card h2, .card h3 {
    margin: 0px;
}

/* ==================== */
/* Article card styling */
/* ==================== */
.article-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.article-container img {
    border-radius: 5px;
    max-height: 500px;
    object-fit: contain;
}

.article-title {
    margin: 0px;
}

.article-container h3 {
    margin-top: 10px;
    margin-bottom: 0px;

    font-size: 16px;
    font-weight: normal;
}

.article-container hr {
    width: 100%;
    border-top: 2px solid rgb(189, 189, 189);
}

.article-content {
    margin-top: 20px;
    margin-bottom: 0px;
}

.article-link {
    text-align: end;
}

.popular-posts {
    width: 200px;
}

@media only screen and (max-width: 800px) {
    .popular-posts {
        width: auto;
    }
}

.error-container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.error-container img {
    align-self: center;
    width: 500px;
}

.error-container p {
    align-self: center;
    font-weight: bold;
    font-size: 20px;
}

.error-container p:last-child {
    font-weight: normal;
}

/* ==================== */
/* Article page styling */
/* ==================== */

.article-body img {
    border-radius: 5px;
}