@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  background-color: #0A192F;
  color: rgb(245, 245, 245);
  font-family: Roboto;
  font-size: 1rem;
  position: relative;
  background-attachment: fixed;
}

nav {
  background-color: rgba(6, 15, 28, 0.8);
  box-shadow: 0 10px 10px -2px rgba(0,0,0,0.1);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  nav {
    background-color: rgba(6, 15, 28, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 0 10px 10px -2px rgba(0,0,0,0.1);
  }
}

a {
  display: flex !important;
}

.nav-number {
  color: #00CF05;
  margin: 0px 5px 0px 10px;
}

.animate__animated.animate__delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-delay: calc(var(--animate-delay)*1);
  animation-delay: calc(var(--animate-delay)*1);
}

.animate__animated.animate__delay-0-5s {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-delay: calc(var(--animate-delay)*0.5);
  animation-delay: calc(var(--animate-delay)*0.5);
}

.highlight {
  color: red;
  background: pink;
}

.video {
  width: 560px;
  height: 340px;
  display: block;
}

.section-header {
  font-family: 'Roboto Mono', monospace;
  width: auto;
}

.section-header-number {
  display: inline-block;
  color: #00DB05;
  margin-bottom: 0;
}

.section-header-text {
  display: inline-block;
  margin-bottom: 0;
}

.divider {
  border-top: 2px solid rgb(245, 245, 245);
}

.section-row {
  margin-top: 6rem;
}

.section-row::before {
  height: 54px;
  content: "";
  display: block;
}

.section-content {
  color: rgb(212, 212, 212);
}

.section-content>p {
  margin-bottom: 1.5rem;
}

.card {
  border-radius: 5px;
  background-color: #0E2240;
}

.card-title {
  margin-bottom: 35px;
  color: rgb(245, 245, 245);
}

.card-title-name {
  color: rgb(245, 245, 245);
}

#title-column {
  text-align: right;
}

#sd-title {
  font-size: 4rem;
  color: #00DB05;
}

#sd-title-image {
  height: 30rem;
  image-rendering: -webkit-optimize-contrast;
}

#footer {
  color: rgba(255, 255, 255, 0.5);
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
}